.mobile-menu-mb {
    width: 100vw;
    left: 0;
    padding: 24px;
    background-color: white;
    top: 60px;
    position: fixed;
}

.mobile-menu-mb a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}

.mobile-menu-mb ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu-mb ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu-mb ul li {
    margin-bottom: 24px;
}

.email-mb {
    font-size: var(--sm);
    font-weight: 300 !important;
}

.sign-out-mb {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
}